#!/bin/bash

function topen() {
  touch $1 && open $1
}

function tpast() {
  touch $1 && pbpaste >> $1
}

function rmod() {
  rm -rf node_modules
}

function printg() {
  echo "${green}$1${reset}"
}

function printr() {
  echo "${red}$1${reset}"
}

function build() {
  # TODO refactor for more dynamic usage
  cat ~/.config/zshscripts/templates/.zshrc | tee ~/.zshrc
}

function dev() {
  tmux new -s dev-session
  tmux split-window -v
  tmux split-window -h
  tmux new-window 'mutt'
  tmux -2 attach-session -d
}