#!/bin/bash

#  TODO: need a generic function that creates
#  a new alias using add command and then adds it
#  in aliases .all file
# function add() {}

function sk() {
  if [ -z "$1" ]
  then
    error "provided ssh keyname is empty"
  else
    ssh-add ~/.ssh/$1
  fi
}

function topen() {
  touch $1 && open $1
}

function tpast() {
  touch $1 && pbpaste >> $1
}

function rmod() {
  rm -rf node_modules
}

function info() {
  echo "${green}$1${reset}"
}

function error() {
  echo "${red}$1${reset}"
  false
}

function build() {
  # TODO refactor for more dynamic usage
  cat ~/.config/zshscripts/templates/.zshrc | tee ~/.zshrc
}

function tat {
  session="work"
  # set up tmux
  tmux start-server
  # create a new tmux session
  tmux new-session -d -s $session
  # split pane 1 horizontally by 50%
  tmux splitw -h -p 50
  # split pane 2 vertically by 50%
  tmux splitw -v -p 50
  # Select and split pane 1 vertically by 50%
  tmux selectp -t 1
  tmux splitw -v -p 50

  # Finished setup, attach to the tmux session!
  tmux attach-session -t $session
}

function rapi() {
  rails new $1 --api --database=postgresql -T
}