[user]
  email = nare.zakaryanmm@gmail.com
  name = Nare
[core]
    editor = 'code' --wait
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[remote]
	pushDefault = origin
